body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 1200px;
}
ul,
li,
a {
  list-style: none;
}
.main-link-color {
  color: #000000;
}
.main-link-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  text-decoration: none;
}
.hero {
  text-align: center;
}
.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #757575;
}
.section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.phone-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.btn-decoration {
  background-color: #2196f3;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.specialization-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-link-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  text-decoration: none;
}
.address {
  color: #ffffff;
}
.footer-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.87;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.caption-hover {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 12px;
}
.container {
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 93px;
  padding-right: 15px;
  padding-bottom: 94px;
  padding-left: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-info {
  display: flex;
}
.main-logo {
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
}
.main-logo-description {
  width: 270px;
  margin-right: 30px;
}
.main-logo-description:last-child {
  margin-right: 0;
}
.what-are-we-doing {
  display: flex;
}
.picture-what-are-we-doing:not(:last-child) {
  margin-right: 30px;
}
.first-section-name {
  margin-top: 75px;
  margin-bottom: 50px;
}
.team-section {
  display: flex;
}
.app-links {
  display: flex;
}
.team-info:not(:last-child) {
  margin-right: 30px;
}
.section-team {
  background-color: #f5f4fa;
}
.clients {
  display: flex;
}
.logo-clients {
  display: flex;
  width: 170px;
  height: 90px;
  background-color: #e5e5e5;
  text-align: center;
  justify-content: center;
}
.logo-clients:not(:last-child) {
  margin-right: 30px;
  margin-left: auto;
}
.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 45px;
  padding-bottom: 28px;
  background-color: #2f303a;
}
.footer-addres {
  justify-content: flex-start;
}
.footer-link {
  color: #ffffff;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}
.footer-list {
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
}
.radio-button {
  display: flex;
}
.radio {
  background-color: #f5f4fa;
  font-weight: 500;
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border-color: transparent;
}
.btn-space:not(:last-child) {
  margin-right: 30px;
}
